.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}


nav-user-bar {
  margin-right: 16%;
  float: right;
}

.navbar-nav>li>a {
  color: #fff;
}

.navbar-nav>li>a:hover {
  color: #000;
}

.dropdown .dropbtn {
  background: #292c2f !important;
  color: #000 !important;
}

.dropdown-content {
  background: #292c2f !important;
}

.dropdown-content a {
  color: #fff;
}
