<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="main">
        <h3>{{loginBean.login}}<a routerLink="/registration">{{ loginBean.signup }}</a></h3>

        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit(loginForm.value)" novalidate class="form-horizontal">

          <fieldset class="form-group">
            <label for="inputUsernameEmail" class="control-label">{{ loginBean.credentials }}</label>
            <input formControlName="usernameEmail"
                   type="text" id="inputUsernameEmail"
                   placeholder="{{ loginBean.placeholdercredentials }}"
                   class="form-control"/>
            <div class='form-text error' *ngIf='loginForm.controls.usernameEmail.touched'>
              <div *ngIf="loginForm.controls.usernameEmail.hasError('required')">{{ loginBean.nameRequired }}</div>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <label for="inputPassword" class="control-label">{{ loginBean.password }}</label>
            <input formControlName="password"
                   type="password"  id="inputPassword"
                   placeholder="{{ loginBean.placeholderpassword }}"
                   class="form-control"/>
            <div class='form-text error' *ngIf="loginForm.controls.password.touched">
              <div *ngIf="loginForm.controls.password.hasError('required')">{{ loginBean.passwordRequired }}</div>
            </div>
          </fieldset>

          <button [disabled]='!loginForm.valid' type="submit" class="btn btn-primary">{{ loginBean.btnlogin }}</button>
          <a class="pull-right" href="#">{{ loginBean.forgottenpassword }}</a>
        </form>
      </div>
    </div>
  </div>
</div>
