.a {
  width: 100px !important;
  height: 100px !important;
  position: absolute !important;
  top: 0;
  -webkit-clip-path: polygon(100% 0, 100% 0, 0 100%, 0 0) !important;
}
.b {
  width: 100px !important;
  height: 100px !important;
  bottom: 0;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 100% 0) !important;
}

.a1 {
  z-index: 1 !important;
  float:left;
}
.b1 {
  z-index: 2 !important;
  float:left;
}

.bot {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  width: calc(100% + 17px) !important;
  height: calc(100% + 17px) !important;
  display: block !important;
}

.element {
  white-space: nowrap;
  position: relative;
  float: left;
}
