html{
  /*background-color: limegreen;*/
}

body{
  background-color: lightgray;
  /*background: url("./img/main-background.jpg") no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  font:14px/1.5 Arial, Helvetica, sans-serif;
}

footer{
  position: fixed;
  bottom: 0;
}

@media (max-height:800px){
  footer { position: static; }
}
