body{
  font:14px/1.5 Arial, Helvetica, sans-serif;
  background: url('/img/cutting_board');
  background-size: cover;
}

footer{
  position: fixed;
  bottom: 0;
}

input {
  margin: 0 auto;
  max-width: 40%;
  display: block;
}

.btn-primary {
  background: #ff5252 !important;
}

button:focus {
  outline: none !important;
}

@media (max-height:800px){
  footer { position: static; }
}

h1,
h2,
h3,
h4,
li,
label
{
  color: #ccc !important;
}
