body{
  background-color: lightgray;
  font:14px/1.5 Arial, Helvetica, sans-serif;
}

footer{
  position: fixed;
  bottom: 0;
}

input {
  margin: 0 auto;
  max-width: 40%;
  display: block;
}

@media (max-height:800px){
  footer { position: static; }
}
